{% extends 'master.html' %}
{% block body %}
<h1 class="title">
    Add Paycheck
</h1>

<form method="POST" action="/add_paycheck">
    {% csrf_token %}
    <div>
        <label class="label">Date:</label>
        <input name="date" class="input is-primary" type="date" placeholder="today">
    </div>
    <div>
        <label class="label">Amount:</label>
        <input name="amount" class="input is-primary" type="text" placeholder="$">
    </div>
    </br>
    <button type="submit" class="button is-primary">Add</button>
</form>
{% endblock %}