{% extends 'master.html' %}
{% block body %}
<h1 class="title">
    AbaBaba
</h1>

<p>You are currently logged in as <strong>{{user.first_name}}</strong></p>

<br>

<h2 class="title">
    Directions
</h2>
<p>
Add purchases to keep track of our spending across different categories. In the near future, we'll
have a way to aggregate by types of purchases, over dates and time, who is spending the most, etc.

If you don't see an option you're looking for in <strong>Shop</strong> or <strong>Purchase Type</strong>,
scroll down to add additional options to the database.
</p>

</br>
<a href="/logout"> Logout</a>
</br>
<a href="/statistics"> Stats</a>
</br>
<h2 class="title">
    Add Purchase
</h2>
<form method="POST" action="/add_purchase">
    {% csrf_token %}
    <div>
        <label class="label">Date:</label>
        <input name="date" class="input is-primary" type="date" placeholder="today">
    </div>
    <div>
        <label class="label">Price:</label>
        <input name="price" class="input is-primary" type="text" placeholder="Price">
    </div>
    </br>
    <div>
        <label class="label">Shop:</label>
        <div class="select is-multiple is-primary">
            <select class="js-example-basic-multiple" name="shop" multiple="multiple">
                {% for shop in shops %}
                <option value="{{shop.name}}">{{shop.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    </br>
    <div>
        <label class="label">Description (optional):</label>
        <input name="description" class="input is-primary" type="text" placeholder="Description">
    </div>
    <div>
        <label class="label">Amount:</label>
        <input name="amount" class="input is-primary" type="text" placeholder="1">
    </div>
    <div class="select is-multiple is-primary">
        <label class="label">Bought For:</label>
        <select class="js-example-basic-multiple" name="for_choices" multiple="multiple">
            <option value='MICHELLE'>just michelle</option>
            <option value='MICHAEL'>just michael</option>
            <option value='BOTH'>both of us</option>
        </select>
    </div>
    <label class="label">Purchase Type:</label>
    <div class="select is-multiple is-primary">
        <select class="js-example-basic-multiple" name="type_choices" multiple="multiple">
            {% for purchase_type in purchase_types %}
            <option value="{{purchase_type.type}}">{{purchase_type.type}}</option>
            {% endfor %}
        </select>
    </div>
    </br>
    </br>
    <button type="submit" class="button is-primary">Add</button>
</form>
</br>

<h2 class="title">
    New Purchase Type
</h2>
<form method="POST" action="/new_purchase_type">
    {% csrf_token %}
    <div>
        <label class="label">Type:</label>
        <input name="type" class="input is-primary" type="text" placeholder="Type">
    </div>
    </br>
    <button type="submit" class="button is-primary">Add</button>
</form>
</br>
<h2 class="title">
    New Shop
</h2>
</br>
<form method="POST" action="/new_shop">
    {% csrf_token %}
    <div>
        <label class="label">Shop:</label>
        <input name="shop" class="input is-primary" type="text" placeholder="Shop Name">
    </div>
    </br>
    <button type="submit" class="button is-primary">Add</button>
</form>

{% endblock %}