{% extends 'master.html' %}
{% block body %}
<h1 class="title">
    See Stats
</h1>
<div>
    <h3 class="subtitle">View Individual Stats in Date Range:</h3>
    <form method="GET" action="/stats">
        {% csrf_token %}
        <div>
            <label class="label">Start Date:</label>
            <input name="start_date" class="input is-primary" type="date" placeholder="today">
        </div>
        <div>
            <label class="label">End Date:</label>
            <input name="end_date" class="input is-primary" type="date" placeholder="today">
        </div>
        </br>
        <button type="submit" class="button is-primary">See Individual Stats</button>
    </form>
    </br>
    <h3 class="subtitle">View Joint Stats in Date Range:</h3>
    <form method="GET" action="/joint_stats">
        {% csrf_token %}
        <div>
            <label class="label">Start Date:</label>
            <input name="start_date" class="input is-primary" type="date" placeholder="today">
        </div>
        <div>
            <label class="label">End Date:</label>
            <input name="end_date" class="input is-primary" type="date" placeholder="today">
        </div>
        </br>
        <button type="submit" class="button is-primary">See Joint Stats</button>
    </form>
</div>
{% endblock %}