{% extends 'master.html' %}
{% block body %}
<h1 class="title">
    AbaBaba
</h1>

<div>
    <p class="subtitle">
        Welcome to AbaBaba Stats!
        </br>
        <a href="/">Home</a>
        </br>
        <a href="/logout">Log Out</a>
        </br>
    </p>
    <p>
        You are viewing purchases between {{start_date}} and {{end_date}}
    </p>
    <p>
        In this time period, you spent ${{total}}
    </p>
</div>
</br>
<div class="columns">
    <div class="column">
        <h3 class="title">All Purchases (By Purchase Type)</h3>
        {% for purchase_type, purchases in purchase_type_purchases.items %}
        {% if purchases %}
        <strong>{{purchase_type}} sum: ${{ type_sum_prices|get_item:purchase_type }}</strong>
        <ul>
            {% for purchase in purchases %}
            <li>{{purchase}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
    <div class="column">
        <h3 class="title">All Purchases (By Shop)</h3>
        {% for shop, purchases in shop_purchases.items %}
        {% if purchases %}
        <strong>{{shop}} sum: ${{shop_sum_prices|get_item:shop}}</strong>
        <ul>
            {% for purchase in purchases %}
            <li>{{purchase}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
</div>
</br>
{% endblock %}